<!doctype html>
{%load static%}
<html lang="en">
  <head>
  	<title>Dobble</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
     integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
      <style>
         .content{
            margin-left:200px;
         }
         .card{
         margin-left:200px;
         }
         #convbt{
         margin-left:200px;
         }
      </style>
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch p-4 pt-5">
			<nav id="sidebar">
				<div class="p-4 pt-5">
                    <img src="{{user.profile.image.url}}" class="author" width="200px" height="200px" alt="">
                    <div class="welcome p-2"><h3>Welcome {{user.first_name}}</h3>
                        <a href="{%url 'profileview' user.profile.pk%}"></a><button class="btn btn-warning">Profile</button>

                    </div>



	        <ul class="list-unstyled components mb-5">
              <li >
	            <a href="{%url 'timeline'  %}" >Timeline</a>
	          </li>
	          <li >
	            <a href="{%url 'myposts'  %}" >My Posts</a>
	          </li>
              <li >
	              <a href="{%url 'friends'  %}">People</a>
	          </li>
	          <li  >
              <a href="{% url 'friendslist' user.profile.id %}" >Friends</a>

            </li>
            <li>
              <a href="{% url 'requests' %}">Requests</a>
	          </li>

	          <li class="active">
              <a href="{% url 'inbox' %}">Inbox</a>
	          </li>

	          <li>
              <a href="{% url 'contactus' %}">Contact Us</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p>All rights reserved</p>

	        </div>

	      </div>
    	</nav>

            <div id="content" class="p-1 p-md-0">

                <nav class="navbar navbar-inverse container " style="background-color: navajowhite;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <img src="{% static 'main/images/logo.png' %}" alt="Dobbler Logo" class="logo">
                        </div>

                         <form class="d-flex" method="GET" action="{% url 'profile-search' %}" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="input-group">

                                <input type="text" id="basic-addon1"  placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name='query' value="{{ request.GET.query }}">
                                <button style="border: none; background-color: transparent; box-shadow: none" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                         </form>
                        <ul class="nav navbar-nav">



                         </ul>
                    </div>
                </nav>
                <div class="container">



                    <div class="row justify-content-center mt-5">
                        <div class="col-md-5 col-sm-12">
                            <h1>Start a Conversation!</h1>
                        </div>
                    </div>
                     <div class="row justify-content-center mt-3 mb-5">
                        <div class="col-md-5 col-sm-12">
                            <form method="POST">
                                {% csrf_token %}
                                <h4><p>Enter the username for the person you would like to talk to.</p></h4>
                                {{ form.as_p}}
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-warning mt-3">Continue</button>
                                </div>
                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </div>


    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
  </body>
</html>