<!doctype html>
{%load static%}
<html lang="en">
  <head>
  	<title>Dobble</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
     integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
      <style>
            .content{
            width:300px;
            margin-left:100px;
            }

            .content h2{
            margin-left:13px;
            }
            .message{
            background-color: rgb(124,252,0);
            color:black;
            width:200px;
            }
            .message1{
            background-color:red;
            color:black;
            width:200px;
            }
            h2
            {
            text-align:center;
            }

      </style>
  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
                    <img src="{{user.profile.image.url}}" class="author" width="200px" height="200px" alt="">
                    <div class="welcome"><h3>Welcome {{user.first_name}}</h3>
                        <a href="{%url 'profileview' user.profile.pk%}"><button class="btn btn-warning">Profile</button></a>

                    </div>



	        <ul class="list-unstyled components mb-5">
              <li >
	            <a href="{%url 'timeline'  %}" >Timeline</a>
	          </li>
	          <li >
	            <a href="{%url 'myposts'  %}" >My Posts</a>
	          </li>
              <li class="active">
	              <a href="{%url 'friends'  %}">People</a>
	          </li>
	          <li>
              <a href="{% url 'friendslist' user.profile.id %}" >Friends</a>
              </li>
            <li>
              <a href="{% url 'requests' %}">Requests</a>
	          </li>

	          <li>
              <a href="{% url 'inbox' %}">Inbox</a>
	          </li>

	          <li>
              <a href="{% url 'contactus' %}">Contact Us</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p>All rights reserved</p>

	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
            <div id="content" class="p-1 p-md-0">

                <nav class="navbar navbar-inverse container " style="background-color: navajowhite;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <img src="{% static 'main/images/logo.png' %}" alt="Dobbler Logo" class="logo">
                        </div>

                         <form class="d-flex" method="GET" action="{% url 'profile-search' %}" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="input-group">

                                <input type="text" id="basic-addon1"  placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name='query' value="{{ request.GET.query }}">
                                <button style="border: none; background-color: transparent; box-shadow: none" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                         </form>
                        <ul class="nav navbar-nav">



                         </ul>
                    </div>
                </nav>
                {% if messages%}
                    {%for message in messages%}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
                            <div class="message" style="border:1px solid green"  >
                               <h5>{{message}}</h5>
                            </div>

                        {%elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                            <div class="message1" styel="border:1px solid green">
                                <h5>{{message}}</h5>
                            </div>
                        {%endif%}
                    {%endfor%}
                {%endif%}

                    <h2>Users</h2>
                    {% for user in users%}
                    {% if user not in request.user.friends.all%}


                        <div class="container mt-5">
                            <div class="row justify-content-center mt-5">
                                <div class="card col-md-3 col-sm-4 shadow-sm ps-4">
                                    <div class="content">

                                        <img src="{{user.image.url}}" id="list" class="author" width="100px" height="100px" alt="">

                                    </div>
                                </div>
                                <div class="card col-md-3 col-sm-4 shadow-sm ps-4">
                                    <h2>{{user}}</h2>
                                    <button id="request" class="btn btn-primary"style="background-color:navajowhite;"><a href="{%url 'sendrequest' user.id%}" style="color:black">Send friend request</a></button>
                                    <button id="request" class="btn btn-primary"style="background-color:white;"><a href="{%url 'removerequest' user.id%}" style="color:black">Remove friend request</a></button>
                                </div>
                            </div>
                        </div>
                    {%endif%}


                    {%endfor%}





            </div>
        </div>


    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
  </body>
</html>


